<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125518129672-mf7cv9o9ag6ntnk5fi5e2621g4fkk106.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125518129672-mf7cv9o9ag6ntnk5fi5e2621g4fkk106</string>
	<key>API_KEY</key>
	<string>AIzaSyB0JBxREgnU0HPkt7yMLs4a1szs-6CFdCY</string>
	<key>GCM_SENDER_ID</key>
	<string>125518129672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.gopizza</string>
	<key>PROJECT_ID</key>
	<string>gopizza-60f21</string>
	<key>STORAGE_BUCKET</key>
	<string>gopizza-60f21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125518129672:ios:6a73042a607899cbf27fbd</string>
</dict>
</plist>